body{
  margin: 0;
}
div{
  box-sizing: border-box;
}
.App{
  text-align: center;
}

.black-nav{
  display: flex;
  background-color: black;
  width: 100%;
  color: white;
  padding-left: 20px;
}

.App-logo{
  height: 40vmin;
  pointer-events: none;
}